[Unit]
Description=node server to give data from meteo sensors

[Service]
WorkingDirectory=/home/pi/station/Server
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm start
EnvironementFile=/home/pi/station/.env

[Install]
WantedBy=multi-user.target
